<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Banking-View">
<test name="Login">
		<classes>
			<class name="testCases.loginpage" />
		</classes>
	</test>
	<test name="ViewChecking">
		<classes>
			<class name="testCases.standaradChecking" />
		</classes>
	</test>
	
	
</suite>